<p>Ce fichier décrit le fonctionnement global de trois scripts python permettant la consultation “automatique” des copies par les étudiants grâce à un envoi par mail.</p>
<h1 id="fonctionnement-général">Fonctionnement général</h1>
<h3 id="avant-lexamen">Avant l’examen</h3>
<p>Vous générez puis imprimez des QR codes autocollants contenant les adresses mails des étudiants composant.</p>
<h3 id="pendant-lexamen">Pendant l’examen</h3>
<p>Vous collez les QR codes sur les copies des étudiants.</p>
<h3 id="après-lexamen">Après l’examen</h3>
<p>Vous scannez le paquet de copies en une fois, la copie de chaque étudiant lui est automatiquement envoyée par mail.</p>
<h1 id="dépendances">Dépendances</h1>
<p>Les dépendances sont indiquées dans le fichier <a href="./requirements.txt"><code>requirements.txt</code></a>.</p>
<p>Si vous avez déjà <code>pip</code>, <code>wheel</code> et <code>setuptools</code>, vous pouvez installer les modules demandés en lançant la commande suivante dans un terminal.</p>
<p><code>python3 -m pip install &lt;nom_du_module&gt;</code></p>
<p>Si le module est déjà installé, mais dans une version antérieure à celle requise, vous pouvez le mettre à jour avec la commande suivante :</p>
<p><code>python3 -m pip install --upgrade &lt;nom_du_module&gt;</code></p>
<p>Sinon, vous pouvez consulter cette page d’aide à l’installation de modules :</p>
<p><a href="https://packaging.python.org/tutorials/installing-packages/#id11"><code>https://packaging.python.org/tutorials/installing-packages/#id11</code></a>.</p>
<p><strong>Attention</strong>, sur Mac, pour l’installation du package PyMuPDF, mieux vaut suivre les instructions données sur la page de GitHub de ce module :</p>
<p><a href="https://github.com/pymupdf/PyMuPDF/blob/1.18.14/README.md#osx"><code>https://github.com/pymupdf/PyMuPDF/blob/1.18.14/README.md#osx</code></a>.</p>
<h1 id="scripts">Scripts</h1>
<p>3 scripts sont fournis dans le dossier <a href="../sources"><code>sources</code></a>, et leur utilisation est décrite dans la section suivante.</p>
<ul>
<li><p><a href="../sources/qr_generator.py"><code>qr_generator.py</code></a>, ce script permet la génération d’un fichier PDF contenant les QR codes des étudiants à partir d’une liste au format CSV. Le format de ce PDF permet de l’imprimer sur du papier à étiquettes.</p></li>
<li><p><a href="../sources/splitter.py"><code>splitter.py</code></a>, ce script permet de découper automatiquement un PDF contenant plusieurs copies d’étudiants en un PDF par étudiant et permet l’extraction des informations contenues dans les QR codes.</p></li>
<li><p><a href="../sources/mailer.py"><code>mailer.py</code></a>, ce script permet l’envoi automatique de mails aux étudiants, leur copie se trouvant en pièce jointe du mail. Ce script nécessite une authentification via CAS pour envoyer les mails avec votre adresse <code>@sorbonne-universite.fr</code>.</p></li>
</ul>
<h1 id="utilisation-des-scripts">Utilisation des scripts</h1>
<h2 id="qr_generator.py"><code>qr_generator.py</code></h2>
<p>Usage : <code>./qr_generator.py [-i inputfile] [-o outputfile]  [-u ue] [-d date] [-s salle] [-q]</code></p>
<p>Ce script prend en argument un fichier au format CSV (<code>inputfile</code>) qui liste les étudiants composant dans une même salle. Chaque ligne concerne un étudiant et a le format <code>nom, prénom, numéro, mail</code>, où numéro peut-être un numéro d’étudiant ou un numéro d’anonymat. Il produit un fichier PDF (<code>outputfile</code>) avec une étiquette pour chaque étudiant listé contenant :</p>
<ul>
<li><p>un QR code encodant son adresse mail ;</p></li>
<li><p>ses noms et prénoms ou bien son numéro pour une épreuve anonyme ;</p></li>
<li><p>la date (<code>date</code>), la salle (<code>salle</code>) et le nom de l’UE (<code>ue</code>).</p></li>
</ul>
<p>Lancé sans argument, ce script propose une interface dans le terminal pour rentrer tous les paramètres nécéssaires à la création du PDF. Lors de la première execution, les paramètres définissant le format des planches d’étiquettes sont enregistrés dans un fichier nommé <code>param_etiquettes.json</code>. Par la suite, si un fichier nommé <code>param_etiquettes.json</code> est détecté, l’interface propose d’utiliser les paramètres enregistrés dans ce fichier.</p>
<p>Si tous les arguments optionels sont donnés, et l’option <code>-q</code> activée, le script s’execute sans interface, en utilisant les paramètres définis dans un fichier nommé <code>param_etiquettes.json</code>.</p>
<p>Un exemple de script shell nommé <a href="../exemples/script_multi_csv.sh"><code>script_multi_csv.sh</code></a> qui applique <code>qr_generator.py</code> à tous les fichiers CSV du dossier courant est proposé dans le dossier <a href="../exemples"><code>exemples</code></a> dans le but de faciliter la génération des étiquettes pour une grosse épreuve se déroulant dans de nombreuses salles.</p>
<h2 id="splitter.py"><code>splitter.py</code></h2>
<p>Usage : <code>./splitter.py [-o output_directory] [-s summary] [-c previous_summary] [-p precision] [-n nbp] PDF</code></p>
<p>Ce script prend en argument un PDF et le découpe en plusieurs PDF en suivant le découpage induit par les QR codes. Chaque page du PDF original doit contenir au plus un QR code, le PDF est alors découpé sur chaque page contenant un QR code (i.e. le QR code est en première page du PDF découpé).</p>
<p>Si les copies ont un nombre <code>nbp</code> fixe de pages, ce nombre peut être renseigné en utilisant l’option <code>-n</code> en ligne de commande afin d’accélérer le processus. En effet dans ce cas seule 1 page sur <code>nbp</code>. Dans le cas de scan recto-verso, <code>nbp</code> doit être pair. Par exemple si chaque copie comporte 5 pages, chaque copie correspond à 3 feuilles soit 6 pages même si la sixième est blanche.</p>
<p>Le script stocke les fichiers PDF ainsi obtenus dans un dossier qui se nomme par défaut <code>output</code>. Le nom de ce dossier peut être modifié en utilisant l’argument optionel <code>-o</code> en ligne de commande.</p>
<p>L’exécution du script produit un fichier qui se nomme par défaut <code>summary</code>. Ce nom peut être modifié en utilisant l’argument optionel <code>-s</code> en ligne de commande. Il s’agit d’un fichier CSV dont les lignes représentent les différentes copies extraites du PDF passé en argument. Chaque ligne a le format <code>email, PDF, start, end</code> où :</p>
<ul>
<li><p><code>email</code> est l’email de l’étudiant (extrait du QR code) ;</p></li>
<li><p><code>PDF</code> est le chemin vers la copie de cet étudiant (au format PDF) ;</p></li>
<li><p><code>start</code> est le numéro de page de début dans le PDF original ;</p></li>
<li><p><code>end</code> est le numéro de page de fin dans le PDF original.</p></li>
</ul>
<p>L’information contenue dans ce fichier sera utilisée pour envoyer automatiquement les mails, mais vous sert aussi à vérifier que le découpage est correct.</p>
<p>Le niveau de précision avec lequel les pages sont traitées peut être ajusté en utilisant l’argument optionel <code>-p</code>. Les valeurs possibles sont : - <code>b</code> pour bas (valeur par défaut) ; - <code>m</code> pour moyen ; - <code>h</code> pour haut.</p>
<p>Si le découpage n’est pas correct, il est possible de modifier le fichier <code>summary</code>. Il faut alors <strong>relancer le script <code>splitter.py</code></strong> en passant en argument ce fichier <code>summary</code> avec l’option <code>-s</code>. En tel cas, le script n’utilisera plus les QR codes contenus dans le PDF original pour faire le découpage mais les numéros de page indiqués dans le fichier <code>summary</code>.</p>
<h2 id="mailer.py"><code>mailer.py</code></h2>
<p>Usage : <code>./mailer.py [-c mail_config] [-s summary_file]</code></p>
<p>Ce script utilise le fichier <code>summary</code> produit par <code>splitter.py</code> ainsi que les fichiers PDF générés par <code>splitter.py</code> pour envoyer automatiquement un mail aux étudiants concernés.</p>
<p>Par défaut, le script <code>mailer.py</code> va chercher un fichier nommé <code>summary</code> dans le dossier courant pour avoir la liste des fichiers à envoyer et les destinataires correspondants. Il est possible de changer le fichier <code>summary</code> utilisé grâce à l’option <code>-s</code>.</p>
<p>Par défaut, le format de mail utilisé est défini dans fichier <a href="../sources/default_mail_config.json"><code>default_mail_config.json</code></a>, qui doit se trouver dans le dossier courant. Il est possible de changer le fichier utilisé pour la configuration des mails grâce à l’option <code>-c</code>. Le format par défaut ne présente ni le nom de l’ue, ni même votre adresse mail en expéditeur. Vous pouvez modifier le fichier <code>default_mail_config.json</code> à la main pour indiquer l’expéditeur, le sujet, le corps du message et une ou plusieurs adresses à mettre en copie, mais le fichier doit garder sa structure à savoir :</p>
<p><code>{</code></p>
<p><code>&quot;exp&quot;:&quot; &lt;expediteur@messagerie.fr&gt; &quot;,</code></p>
<p><code>&quot;subject&quot;:&quot;&lt;Sujet du message&gt;&quot;,</code></p>
<p><code>&quot;body&quot;:&quot;&lt;Corps du message&gt;&quot;,</code></p>
<p><code>&quot;cc&quot;: &quot;&lt;adresse en copie&gt;, &lt;autre adresse en copie&gt;&quot;,</code></p>
<p><code>}</code>.</p>
<p>Notez que pour garder une trace des messages envoyés sur votre messagerie, il faut indiquer votre adresse en CC.</p>
<p>Le script vous demandera de vous identifier auprès du serveur CAS de Sorbonne Université afin d’établir la connexion avec votre messagerie Sorbonne Université.</p>
<h1 id="pour-implémenter-cette-solution-dans-un-autre-établissement">Pour implémenter cette solution dans un autre établissement</h1>
<p>Ces scripts ont été écrits en vue d’une utilisation par des membres de Sorbonne Université, mais il est très facile de les modifier pour un autre établissement. En effet, l’établissement n’intervient que lors de l’envoi des mails, on utilise ici le serveur des mails de Sorbonne Université, mais on aurait pu utiliser un autre serveur (celui du laboratoire, ou bien gmail, outlook…).</p>
<p>Pour modifier le serveur utilisé, il suffit de changer les deux paramètres indiqués dans la fonction <code>connect_smtp_server_SU</code> du fichier <a href="../sources/mailer.py"><code>mailer.py</code></a>. Actuellement, <code>&quot;imaps.sorbonne-universite.fr&quot;</code> indique le serveur utilisé et <code>465</code> le port utilisé pour l’envoi. Pour connaître le serveur et le port de la messagerie que vous voulez utiliser, cherchez comment configurer Thunderbird, ou votre application de messagerie sur mobile.</p>
